.p-main {
  padding-bottom: 60px;

  @include mq-cdt(tablet) {
    padding-bottom: 100px;
  }
}

.p-heading {
  margin-top: 48px;
  font-size: 30px;
  font-weight: bold;
  line-height: math.div(54, 36);
  color: $color-primary;
  text-align: center;

  @include mq-cdt(mobile-m) {
    margin-top: 64px;
    font-size: 36px;
  }

  @include mq-cdt(tablet) {
    font-size: 36px;
  }
}

.p-catch {
  display: table;
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: math.div(31, 21);
  background: linear-gradient(transparent 60%, $color-secondary);

  @include mq-cdt(mobile-m) {
    font-size: 21px;
  }

  @include mq-cdt(tablet) {
    font-size: 21px;
  }
}

.p-row {
  @include mq-cdt(tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }
}

.p-card-heading {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: $color-tertiary;
  border-radius: 8px 8px 0 0;

  @include mq-cdt(mobile-m) {
    font-size: 14px;
  }

  @include mq-cdt(tablet) {
    // font-size: 23px;
  }

  @include mq-cdt(laptop) {
    font-size: 20px;
  }

  @include mq-cdt(laptop-l) {
    // font-size: 23px;
  }
}

.p-logo-sub {
  margin-top: 8px;
  font-size: 13px;
  color: $color-tertiary;
  text-align: center;

  @include mq-cdt(mobile-m) {
    font-size: 16px;
  }

  @include mq-cdt(tablet) {
    font-size: 20px;
  }
}

.p-points {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1;
  text-align: center;

  @include mq-cdt(mobile-m) {
    font-size: 16px;
  }

  @include mq-cdt(tablet) {
    font-size: 15px;
  }

  @include mq-cdt(laptop) {
    font-size: 24px;
  }
}

.p-point {
  display: inline-block;
  margin-right: 4px;
  margin-left: 4px;

  @include mq-cdt(tablet) {
    margin-right: 8px;
    margin-left: 8px;
  }

  &::before {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 4px;
    vertical-align: bottom;
    content: '';
    background-image: url('../images/icon-circle-check-yellow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;

    @include mq-cdt(mobile-m) {
      // margin-right: 8px;
      width: 16px;
      height: 16px;
      background-size: 16px;
    }

    @include mq-cdt(tablet) {
      // margin-right: 8px;
      width: 15px;
      height: 15px;
      background-size: 15px;
    }

    @include mq-cdt(laptop) {
      width: 20px;
      height: 20px;
      margin-right: 8px;
      vertical-align: baseline;
      background-size: 20px;
    }
  }
}

.p-card {
  margin-top: 32px;
  border-color: $color-tertiary;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;

  &.p-card--light {
    border-color: $color-quaternary;

    .p-card-heading {
      background-color: $color-quaternary;
    }

    .p-logo-sub {
      color: $color-quaternary;
    }
  }
}

.p-body {
  padding: 24px 16px;
}

.p-logo {
  max-width: (320px * 0.48);
  margin-right: auto;
  margin-left: auto;

  @include mq-cdt(mobile-m) {
    max-width: (320px * 0.56);
  }

  @include mq-cdt(tablet) {
    // max-width: (320px * 0.7);
  }

  @include mq-cdt(laptop) {
    max-width: (320px * 0.7);
  }
}

.p-light-logo {
  max-width: (509px * 0.48);
  margin-right: auto;
  margin-left: auto;

  @include mq-cdt(mobile-m) {
    max-width: (509px * 0.56);
  }

  @include mq-cdt(tablet) {
    // max-width: (509px * 0.7);
  }

  @include mq-cdt(laptop) {
    max-width: (509px * 0.7);
  }
}
